In [1]:
import pandas as pd

import os

In [2]:
EXCEL_FILENAME = 'Exported_FlightLegs_From_2017-07-24_To_2017-07-301.xlsx'
EXCEL_PATH = 'input/'

# df = pd.read_excel(EXCEL_PATH + EXCEL_FILENAME)
df = pd.read_excel(os.path.join(EXCEL_PATH, EXCEL_FILENAME))

In [3]:
df.head()

,Id,DATE,DEP,DEP_TIME,DEP_LOCAL_TIME,ARR,ARR_TIME,ARR_LOCAL_TIME,BaseIataCode,LOF_ID
0,120481,2017-07-24,BCN,2017-07-24 04:00:00,2017-07-24 06:00:00,MMM,2017-07-24 08:00:00,2017-07-24 09:00:00,BCN,121
1,120482,2017-07-24,MMM,2017-07-24 08:25:00,2017-07-24 09:25:00,BCN,2017-07-24 12:00:00,2017-07-24 14:00:00,BCN,121
2,120483,2017-07-24,BCN,2017-07-24 13:00:00,2017-07-24 15:00:00,MMM,2017-07-24 17:00:00,2017-07-24 18:00:00,BCN,121
3,120484,2017-07-24,MMM,2017-07-24 17:25:00,2017-07-24 18:25:00,BCN,2017-07-24 21:00:00,2017-07-24 23:00:00,BCN,121
4,181725,2017-07-24,BCN,2017-07-24 04:05:00,2017-07-24 06:05:00,FCO,2017-07-24 06:00:00,2017-07-24 08:00:00,BCN,338

In [4]:
df.describe()

                  Id        LOF_ID
count   15898.000000  15898.000000
mean   239869.193672  43309.063027
std    139692.129798  25619.802170
min      1607.000000    121.000000
25%    115752.250000  20554.000000
50%    240293.500000  42945.000000
75%    361461.750000  65827.000000
max    480524.000000  87935.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15898 entries, 0 to 15897
Data columns (total 10 columns):
Id                15898 non-null int64
DATE              15898 non-null datetime64[ns]
DEP               15898 non-null object
DEP_TIME          15898 non-null datetime64[ns]
DEP_LOCAL_TIME    15898 non-null datetime64[ns]
ARR               15898 non-null object
ARR_TIME          15898 non-null datetime64[ns]
ARR_LOCAL_TIME    15898 non-null datetime64[ns]
BaseIataCode      15898 non-null object
LOF_ID            15898 non-null int64
dtypes: datetime64[ns](5), int64(2), object(3)
memory usage: 1.2+ MB